@import url('https://fonts.googleapis.com/css?family=Asap');

.color1 {
background-color: rgb(217, 255, 102);
/*); */
}


.Hello 
{display: flex;
flex-flow: row wrap;
justify-content: flex-start;

}


.helloImg {
height: 180px;
margin: 10px;
}

.asapWhite {
color: white;
font-family: "Asap";
}


.asapDark {
color: gray;
font-family: "Asap";
}

a{
    text-decoration: none;
}

li{
    list-style-type: none; 
}

div.navbar{
    display: inline-block;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 1;
}

ul.navList{
    display: inline-block;
    float: none;
    text-align: center;
    padding: 0;
}

li.navOpt{
    float: right;
}

li.navOpt a{
    text-align: center;
    padding: 14px 16px;
}

li.navOpt a:hover {
    color: rgb(88, 71, 71);
}

.mainOptions{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery{
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid rgb(255, 255, 255);
    float: left;
    width: 150px;
    height: 120%;
    text-align: center;
}

.galleryElement:hover {
    border: 1px solid rgba(180, 97, 97, 0.247);
}

.galleryElement img {
    width: 100%;
    height: auto;
}

.buttonIkon {
background-color: transparent;
border: none;
}

button:focus {
    outline: transparent;
    outline-offset: -4px;
}

div.desc {
    padding: 5px;
    text-align: center;
}

th{
    border-bottom: 1px solid rgb(0, 0, 0);
}

td{
    border-bottom: 0.2px solid gray;
}

.centeredSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: rgb(163, 155, 155);
    margin: 0px;
}

